@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Noto+Sans+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    height: 15vh;
    background-color: rgba(255, 255, 255,0.2);
    border-radius: 10px;
}
.logo{
    margin:10px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.logo span{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 0);
    font-size: x-large;
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0px 10px
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.links ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px
}
.links ul li a{
    text-decoration: none;
    color: rgb(255, 255, 0);
}
.links ul li a:hover{
    color: chocolate;
}
body{
    background-image: url("https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg?w=996&t=st=1665080952~exp=1665081552~hmac=5f4db69f0aaadddd6d93c4e294f4014531f5640070cbd5e957a178d27dcdb315");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
main{
    height: calc(80vh - 20vh);
    background-color: rgba(128, 0, 0,0.5);
    margin: 10px 10px;
    border-radius: 10px;
    color: #ffffff;
}
.content{
    padding: 10px 10px;
}
footer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    height: 10vh;
    border-radius: 10px;
    font-size: larger;
    background-color: rgba(72, 61, 139,0.5);
    color: #ffffff;
}
footer p{
    font-family: 'Noto Sans Mono', monospace;
}