@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Noto+Sans+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    height: 15vh;
    border-radius: 10px;
}
.logo{
    margin:10px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.logo span{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0px 10px
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.links ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px
}
.links ul li a{
    text-decoration: none;
    color: #ffffff;
}
.links ul li a:hover{
    color: chocolate;
}
main{
    height: 75vh;
    margin: 10px 10px;
    border-radius: 10px;
}
.content{
    width: 97%;
    position: absolute;
    top: 30%;
}
.left-side{
    margin-left: 6%;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 70px;
    color: #ffffff;
    font-size: large;
    float: left;
    margin-top: 90px;
}
.right-side{
    font-family: 'Gemunu Libre', sans-serif;
    float: right;
    margin-right: 6%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 10px;
    border-radius: 10px;
}
.songs{
    display: flex;
    flex-flow: column;
    overflow: scroll;
    height: 50vh;
    padding: 0 10px;
}
.songs::-webkit-scrollbar{
    width: 0.4rem;;
}

.songs::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
   
   
}
#thumbnail{
    width:60px;
    border-radius: 8px;
}
#aiw{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
#asItWas{
    margin-right: 10px;
    border-radius: 8px;
    width: 60px;
}
#stay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
#stayJB{
    width: 60px;
    border-radius: 8px;
}
#sunroof{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

#doja{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.right-side img{
    width: 30px;
}
.songs div img{
    cursor: pointer;
}